*{
    margin: 0px;
    padding: 0px;
}
main{
    height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
}
header{
    flex-grow: 1;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.home{
    flex-grow: 1;
    background-color: blue;

}
.nav{
    flex-grow: 1;
    background-color: bisque;
    display: flex;
    flex-direction: row;
}
.navbar{
    flex-grow: 1;
background-color: brown;
}
.menu{
    flex-grow: 4;
    background-color: rgb(92, 219, 97);
    
}
content{
    background-color: rgb(100, 41, 155);
    flex-grow: 7;
    display: flex;
    flex-direction: row;
}
.aside{
    flex-grow: 1;
background-color: blueviolet;
}
.img{
    flex-grow: 1;
    background-color: rgb(44, 9, 77);
}
.cards{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding:0px 50px;
}
.card-head{
    display: flex;
    flex-direction: column;
    margin: 20px;
   
    text-align: center;
   font-size: 20px;
}
.first{
background-color: darkorange;
flex-grow: 1;
margin: 70px ;

}
.second{
    background-color: darkorange;
    flex-grow: 1;
    margin: 70px;
}
.third{
    background-color: darkorange;
    flex-grow: 1;
    margin: 70px;
}

.aboutapp{
    height: 100vh;
display: flex;
flex-direction: row;
background-color: crimson;
}

.about{
flex-grow: 1;
background-color: beige;
}
.appcontent{
    flex-grow: 1;
}

.review{
    height: 80vh;
    background-color: deepskyblue;
    display: flex;
    flex-direction:column;
    justify-content: center;
    
}
.preview{
    background-color: blue;
    flex-grow: 1;


}
.people{
    display: flex;
    flex-direction:row;
    flex-grow:4 ;

}
.rcard1{
    background-color: blue;
    flex-grow: 1;
    margin: 70px;
   
}
.rcard2{
    background-color:blue;
    flex-grow: 1;
    margin: 70px;   
}
.rcard3{
    background-color: blue;
    flex-grow: 1;
    margin: 70px;
}
.plan{
    height: 90vh;
display: flex;
flex-direction: column;
}
.plan1{
    flex-grow: 1;
background-color: firebrick;
}
.plan2{
flex-grow:6 ;
display: flex;
flex-direction: row;
}
.pcard1{
flex-grow: 1;
background-color:rgb(84, 226, 245) ;
margin: 40px;
}
.pcard2{
    flex-grow: 1;
    background-color:rgb(84, 226, 245) ;
    margin: 40px;
}
.pcard3{
    flex-grow: 1;
    background-color:rgb(84, 226, 245) ;
    margin: 40px;
}
.form{
    height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: darkseagreen;

}
.f-img{
flex-grow: 1.5;
background-color: coral;
}
.f-form{
    margin: 30px 70px;
    flex-grow: 1;
    background-color: coral;
}